.about {

    .about-me {
        background-color: #C79288;

        .underline {
            border-bottom: 1px solid white;
        }

        .about-text {
            color: white;
            font-size: 3rem;
            width: 60%;
            margin: auto;
            padding: 225px 0;
        }
    }

    .about-sub-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 60%;
        margin: auto;
        padding-top: 125px;
        padding-bottom: 125px;
        

        
        img {
            max-width: 100%;
            width: 550px;
            object-fit: cover;
        }

        .about-info {
            width: 65%;
            margin-top: 0px;
            font-family: Cormorant Garamond;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: none;
            line-height: 1.3328;
            font-size: calc(2 * 1rem);

            p {
                width: 72%;
                margin: auto;
            }
            p:nth-child(2) {
                padding-top: 50px;
                font-family: adobe-garamond-pro;
                font-weight: 300;
                font-style: normal;
                letter-spacing: 0em;
                text-transform: none;
                line-height: 1.8em;
                font-size: 18px;
                -webkit-font-smoothing: antialiased;
            }

            .about-contact {
                border-bottom: 1px solid #C79288;
                color: #C79288;
            }
            
        }
        
    }
  
}