.footer {
    background: #38383B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 60px;
    color: white;
    font-size: calc(1.2 * 1rem);



    .grey {
        border-bottom: 1px solid grey;
        color: #A1A1A1;
    }
}